Flask
google-genai
python-dotenv
scikit-learn
numpy
scipy
langgraph
langgraph-checkpoint
langgraph-prebuilt
langchain-core
langsmith
requests
gunicorn
cffi
cryptography
pydantic
pydantic_core
typing_extensions
